.card-custom {
    color: white!important;
    .ion-inherit-color{
        color: white!important;
    }
    
    
    &.disponibile{
        background-image: linear-gradient(to right, #00975c, #00bc73);
    }
    &.non-disponibile{
        background-image: linear-gradient(to right, red, red);
    }

}

