.card-custom {
    color: white!important;
    .ion-inherit-color{
        color: white!important;
    }
    
    
    &.disponibile{
        background-image: linear-gradient(to right, #00975c, #00bc73);
    }
    &.non-disponibile{
        background-image: linear-gradient(to right, red, red);
    }

}

.button-container{
    text-align: center;
}

.dynamic-button{
    width: 212px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 39, 19, 0.24);
    background: #ecf0f1;
    font-size: 14px;
    font-weight: bold;
    color:#00915a;
    margin: 10px 0;
}