<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Active room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
  <div *ngFor="let item of roomList;" >
    <ion-card class="card-custom "  [ngClass]="{'non-disponibile': !item.numero_postiDisponibile, 'disponibile': item.numero_postiDisponibile }" >
      <ion-card-header >
        <ion-card-subtitle style="text-transform: uppercase;">{{item.address}}</ion-card-subtitle>
        <ion-card-title>{{item.name}}</ion-card-title>
        <div class="number-posti"> <ion-badge color="light" *ngIf="item.numero_postiDisponibile"><span>Places available: {{item.numero_postiDisponibile}}</span></ion-badge></div>
        <div class="number-posti"> <ion-badge color="light" *ngIf="!item.numero_postiDisponibile"><span>Not available</span></ion-badge></div>
      </ion-card-header>
      <ion-card-content > {{item.description}}</ion-card-content>
      <div class="ion-text-center">  <button  class="dynamic-button-white" (click)="presentModal(item)" *ngIf="item.numero_postiDisponibile" >Reservation</button></div>
    </ion-card>
  </div>

</ion-content>



