<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Check-in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" placeholder="QR" [(ngModel)]="qrData"></ion-input>
    <!-- {{qrData }} -->
  </ion-item>

  <button  class="dynamic-button-gree" (click)="createCode()">Create Code</button>
  <button  class="dynamic-button-gree" (click)="scanCode()"> Scan Code</button>



  <ion-card *ngIf="createdCode">
    <ngx-qrcode 
      [elementType]="elementType" 
      [value]="createdCode" 
      cssClass="aclass" 
      errorCorrectionLevel="L">
    </ngx-qrcode>
<!-- 
    <ion-card-content>
      <p>Valuen:{{ createdCode }}</p>
    </ion-card-content> -->
  </ion-card>


  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      <p>Valuen:{{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>






  
</ion-content>
