<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New classroom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form">
  <form action="/createroom" method="post">
    <div>
        <label for="roomname">Room Name:</label>
        <input type="text" id="roomname" />
    </div>
    <p></p>
    <div>
        <label for="roomaddress">Room Address:</label>
        <input type="text" id="roomaddress" />
    </div>
    <p></p>
    <div>
      <label for="roomfloor">Room Floor:</label>
      <input type="text" id="roomfloor" />
    </div>
    <p></p>
    <div>
      <label for="roomnumber">Room Number:</label>
      <input type="text" id="roomnumber" />
    </div>
    <p></p>
    <div>
      <label for="roomsupervisor">Room Superviser:</label>
      <input type="text" id="roomsuperviser" />
    </div>
    <p></p>
    <div>
      <label for="maximopeople">Maximum Capacity people:</label>
      <input type="text" id="maximopeople" />
    </div>
    <p></p>
    <div>
      <label for="roomtipology">Room Tipology: </label>
      <select>
        <option>Laboratorio</option>
        <option>Aula</option>
        <option>Biblioteca</option>
        <option>Museo</option>
       </select>
    </div>
   <p></p>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>
</div>
</ion-content>
