@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);



::ng-deep .mat-horizontal-stepper-header-container {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 2;
  background-color: white;
}

::ng-deep .mat-horizontal-content-container{
  margin-top: 108px;
}

.id-room{
  text-align: end;
  color: grey;
  font-weight: bold;
  padding-right: 20px;
  padding-bottom: 20px;

}

