@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#036;
    font-weight:bold;
    float:center;
=======

.id-room{
  text-align: end;
  color: grey;
  font-weight: bold;
  padding-right: 20px;
  padding-bottom: 20px;
>>>>>>> 032009fd44dce2eb97bc112758769f0c84ef6313
}




// form {
//     margin: 0 auto;
//     width: 400px;

//     padding: 1em;
//     border: 1px solid #CCC;
//     border-radius: 1em;
// }

// button {
//   width: 130px;
//   height: 40px;
//   background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
//   border: none;
//   border-radius: 5px;
//   position: relative;
//   border-bottom: 4px solid #2b8bc6;
//   color: #fbfbfb;
//   font-weight: 600;
//   font-family: 'Open Sans', sans-serif;
//   text-shadow: 1px 1px 1px rgba(0,0,0,.4);
//   font-size: 15px;
//   text-align: left;
//   text-indent: 5px;
//   box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
//   cursor: pointer;
//   display: block;
//   margin: 0 auto;
//   margin-bottom: 20px;
// }

// button:active {
//   box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
//   top: 1px;
// }

// button:after {
//   content: "";
//   width: 0;
//   height: 0;
//   display: block;
//   border-top: 20px solid #187dbc;
//   border-bottom: 20px solid #187dbc;
//   border-left: 16px solid transparent;
//   border-right: 20px solid #187dbc;
//   position: absolute;
//   opacity: 0.6; 
//   right: 0;
//   top: 0;
//   border-radius: 0 5px 5px 0;  
// }



