<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Room</ng-template>
        <!-- <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
        <!-- Info Room -->
        <ion-card>
          <ion-card-content>
            <!-- <div class="id-room"><span>Room ID : 0001 </span> </div> -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Active Reservation</ion-label>
                    <ion-toggle color="success"></ion-toggle>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Room Name:</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Room Address:</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Room Floor:</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Room Number:</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>
                <!-- <ion-col>
                        <ion-item>
                          <ion-label position="floating">Room Floor:</ion-label>
                          <ion-input></ion-input>
                        </ion-item>
                      </ion-col> -->
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Capacity people:</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Room Tipology:</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="laboratory">Laboratory</ion-select-option>
                      <ion-select-option value="class">Class</ion-select-option>
                      <ion-select-option value="Library">Library</ion-select-option>
                      <ion-select-option value="sectorroom">Sector Room</ion-select-option>
                      <ion-select-option value="museum">Museum</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>User Tipology:</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="fullprofessor">Full Professor</ion-select-option>
                      <ion-select-option value="asskstantprofessor">Assistant Professor</ion-select-option>
                      <ion-select-option value="researchers">Researchers</ion-select-option>
                      <ion-select-option value="Students">Students</ion-select-option>
                      <ion-select-option value="labtechnician">Lab Tecninician</ion-select-option>
                      <ion-select-option value="staffcleaning">Staff Cleaning</ion-select-option>
                      <ion-select-option value="supportstaff">Support Staff</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
        <!-- Info Room -->
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" optional>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Calendar</ng-template>
        <mat-card>
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>


        </mat-card>

        <!-- Info Calendar  -->

        <ion-card>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Start Date</ion-label>
                    <ion-datetime displayFormat="DD MMM YYYY" placeholder="Select Date"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>End Date</ion-label>
                    <ion-datetime displayFormat="DD MMM YYYY" placeholder="Select Date"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Start Ore</ion-label>
                    <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>End Ore</ion-label>
                    <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>time spot (minuts):</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option *ngFor="let item of listNumber;" value="{{item}}"> {{item}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Check-in timeout (minuts)</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option *ngFor="let item of listNumber;" value="{{item}}"> {{item}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

        <!-- Info Calendar -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <!-- Info Utente -->
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Reservation users number</ion-label>
                  <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                    <ion-select-option *ngFor="let item of listNumber;" value={{item}}> {{item}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
      <!-- Info Utente -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      <!-- conferma Creazione Room -->
      <div class="ion-text-center">
        <button class="dynamic-button-green" (click)="createRoom()" *ngIf="!isLoad">Create New Room</button>
        <button class="dynamic-button-blue" (click)="dowloadQrCode()" *ngIf="isLoad">
          <ion-icon name="arrow-down-outline"></ion-icon>
          Download QR
        </button>
      </div>
      <!-- Conferma Creazione Room -->

    </mat-step>

  </mat-horizontal-stepper>
</ion-content>