<ion-content class="signup2">
  <div class="utente"><img src="../../assets/utente.gif" alt="HTML5 Icon" width=200></div>
  <mat-card>
    <form [formGroup]="formSignup2">
      <h1>Basic Info</h1>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="name">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput placeholder="Placeholder"  formControlName="surname">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Placeholder" type="number"  formControlName="age">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div>

        <!-- <mat-form-field > -->
        <!-- <mat-label>Legacy form field</mat-label> -->
        <div class="radio-container"  >
          <mat-radio-group aria-label="Select an option"  >
            <mat-radio-button value="M" >Man</mat-radio-button>
            <mat-radio-button value="W">Woman</mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- </mat-form-field>  -->

      </div>
    </form>
  </mat-card>

  <!-- confirmLocation -->
  <div class="ion-text-center">
    <button class="dynamic-button-green" [disabled]="formSignup2.invalid" routerLink="/lanfing-page-university"
      routerDirection="root">Continua</button>
  </div>
  <!-- confirm Location -->

</ion-content>