<ion-content class="signup">
  <img src="../../assets/signup.gif" alt="HTML5 Icon" >
  <mat-card>
    <form [formGroup]="formSignup">
      <h1>Signup</h1>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix class="person">person</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <!-- confirmLocation -->
  <div class="ion-text-center">
    <button class="dynamic-button-green" [disabled]="formSignup.invalid" routerLink="/lanfing-page-university"
      routerDirection="root">Continua</button>
    <p>Already have account</p>
    <a>Log In</a>
  </div>
  <!-- confirm Location -->

</ion-content>