
.landing-page{
    text-align: center;
     .mat-card {
      text-align: center;
      box-shadow: none !important;
      }
    
}
  ::ng-deep .mat-form-field-wrapper {
    padding: 0!important;
    margin: 10px 10px!important;
}


