

<ion-content class="landing-page">
  <img src="../../assets/mondo.gif" alt="HTML5 Icon" >

    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Region</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>State - Province</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    </mat-card>



  <button class="next" mat-fab color="primary" aria-label="Example icon button with a delete icon" expand="block" routerLink="/lanfing-page-university" routerDirection="root">
    <mat-icon>arrow_forward</mat-icon>
  </button>



</ion-content>
