<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create user
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Complete Name User:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Mail:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">ID Number:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Telephone:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">User Name:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Password:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Recover Password Methods:</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Allowed on Working Days:</ion-label>
              <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="yes">Yes</ion-select-option>
                <ion-select-option value="no">No</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Allowed on Unworking Days:</ion-label>
              <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="yes">Yes</ion-select-option>
                <ion-select-option value="no">No</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>User Tipology:</ion-label>
              <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="fullprofessor">Full Professor</ion-select-option>
                <ion-select-option value="asskstantprofessor">Assistant Professor</ion-select-option>
                <ion-select-option value="researchers">Researchers</ion-select-option>
                <ion-select-option value="Students">Students</ion-select-option>
                <ion-select-option value="labtechnician">Lab Tecninician</ion-select-option>
                <ion-select-option value="staffcleaning">Staff Cleaning</ion-select-option>
                <ion-select-option value="supportstaff">Support Staff</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Access Allowed Since</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Access Allowed Until</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-text-center">
        <button class="dynamic-button-green" (click)="createUser()" *ngIf="!isLoad">Create New User</button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>