/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content {
    --background: white;
    --text-align: center;
  }


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:  #104d87;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #104d87;
}

  
a[disabled], button[disabled], html input[disabled] {
    opacity: 0.7;
}

a{
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: #104d87;
    text-decoration: none;
    cursor: pointer;
}


.dynamic-button-green{
    width: 212px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 39, 19, 0.24);
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    background-image: linear-gradient(to right, #00975c, #00bc73);
    color: white;

}

.dynamic-button-white{
    width: 212px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 39, 19, 0.24);
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    background: #ecf0f1;
    color:#00915a;

}

.dynamic-button-blue{
    width: 212px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 39, 19, 0.24);
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    background: #ecf0f1;
    background-image: linear-gradient(to left, #104d87, #1e77b4);
    color:white;


}

    .back{
        position: fixed!important;
        bottom: 30px!important;
        left: 30px!important;
        font-size: 24px!important;
        font-weight: bold!important;
        box-shadow: 0 8px 16px 0 rgba(0, 39, 19, 0.24)!important;
        background-image: linear-gradient(to left, #104d87, #1e77b4)!important;
    }
    .next{
        position: fixed!important;
        bottom: 30px!important;
        right: 30px!important;
        font-size: 24px!important;
        font-weight: bold!important;
        background-image: linear-gradient(to right, #00975c, #00bc73)!important;
    }
