.register-utente{
    text-align: center;
    .back{
        position: fixed;
        bottom: 30px;
        left: 30px;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0 8px 16px 0 rgba(0, 39, 19, 0.24);
        background-image: linear-gradient(to left, #104d87, #1e77b4);
    }
    .next{
        position: fixed;
        bottom: 30px;
        right: 30px;
        font-size: 24px;
        font-weight: bold;
        background-image: linear-gradient(to right, #00975c, #00bc73);
    }
    .utente{
        opacity: 0.7;
        margin-top: 10px;
        margin-bottom: -30px;
    }
    .radio-container{
        margin:10px;
    }
}

ion-content {
    --background: white;
    --text-align: center;
  }


  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep .mat-radio-button {
    padding-left: 20px;
}





